<div class="top">
  <div class="user">
  <%# ログイン・ログアウト・新規登録 %>
    <% if user_signed_in? %>
      <%= link_to current_user.name, "#", class: "user_name" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logaut" %>
    <% else %>
     <%= link_to 'ログイン', new_user_session_path, class: "login" %>
     <%= link_to '新規登録', new_user_registration_path, class:"sign_in" %>
    <% end %>
  </div>

  <%# リクエストへ %>
  <div class="request">
    <%= link_to 'Request', new_kitchen_path, class: "menu" %>
  </div>

  <%# リクエスト一覧 %>
  <div class="request-contents">
    <h2 class="pick-up">リクエスト一覧</P>
    <ul class="request-list">
      <% @kitchens.each do |kitchen| %>
        <li class="list">
        <%# 画像 %>
          <div class="img">リクエスト画像
            <P><%= image_tag kitchen.image, class: "kitchen-img"%></P>
          </div>
        <%# リクエスト名 %>
          <div class="name">リクエスト名
            <%= kitchen.name %>
          </div>
        <%# リクエストジャンル %>
          <div class="genre">リクエストジャンル
            <%= kitchen.genre.name %>
          </div>
      <% end %>
    </ul>
  </div>
</div>