<div class="request-show">

 <%# ボタン %>
  <div class="show">
    <% if user_signed_in? && current_user.id == @kitchen.user_id %>
    <%= link_to 'アイデアの編集', edit_kitchen_path(@kitchen.id), method: :get, class: "request-edit-btn" %>
    <%= link_to 'アイデアの削除', kitchen_path(@kitchen.id), method: :delete, class: 'request-delete-btn' %>
    <% end %>
    <%= link_to 'もどる', root_path, class: "back-btn" %>
  </div>


  <div class="detail-table">
    <%# 画像 %>
    <div class="image">
      <div class="detail-img"><%= image_tag @kitchen.image, class: "value-img" %></div>
    </div>
    <%# リクエスト者 %>
    <div class="name">
      <div class="detail-name">なまえ
        <div class="detail-value"><%= @kitchen.user.name %></div>
      </div>
    </div>
    <%# リクエスト名 %>
    <div class="idea">
        <div class="detail-idea">ごはん
          <div class="detail-value"><%= @kitchen.name %></div>
        </div>
    </div>
    <div class="genre">
      <div class="detail-request">ジャンル</div>
      <div class="detail-value"><%= @kitchen.genre.name%></div>
    </div>
  </div>
</div>